{% extends request.THEME_NAME|add:'site_account_base.html' %}
{% block content_header %}Login{% endblock%}

{% block content %}

<div class="row align-items-center justify-content-md-center h-p100">
    <div class="col-lg-5 col-md-8 col-12">
        <div class="content-top-agile">
            <h2>Reset Password</h2>
        </div>
        <div class="p-40 mt-10 bg-white content-bottom">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger border-danger"><i class="ti-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" name="email">
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-danger btn-block margin-top-10">Reset Password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="text-center">
                <p class="mt-20">- OR -</p>
            </div>
            <div class="text-center">
                <p class="mb-0"><a href="{% url 'login' %}" class="text-center">I already have a membership</a><br></p>
                <p class="mb-0"><a href="{% url 'signup' %}" class="text-center">Register a new membership</a><br></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}



