{% extends request.THEME_NAME|add:'site_account_base.html' %}
{% block content_header %}Password reset complete{% endblock%}

{% block title %} Password reset complete {% endblock %}

{% block content %}

<div class="row align-items-center justify-content-md-center h-p100">
    <div class="col-lg-5 col-md-8 col-12">
        <div class="content-top-agile">
            <h2>Password reset complete</h2>
        </div>
        <div class="p-40 mt-10 bg-white content-bottom">

            <p class="login-box-msg">Your password has been set. You may go ahead and log in now.</p>

            <div class="text-center">
                <p class="mt-20">- OR -</p>
            </div>
            <div class="text-center">
                <p class="mb-0"><a href="{% url 'login' %}" class="text-center">I already have a membership</a><br></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}



