{% extends request.THEME_NAME|add:'site_account_base.html' %}

{% block title %}Reset Passord{% endblock%}

{% block content %}


<form id="recoverform" method="post" class="form-vertical" style="display: block;">
    {% csrf_token %}
    <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" name="email">
            </div>
        </div>

    <div class="form-actions">
        <span class="pull-left">
            <a href="{% url 'login' %}" class="flip-link btn btn-success" id="to-login">« Back to login</a>
        </span>

        <span class="pull-right">
            <input type="submit" class="btn btn-info" value="Reset Password" />
        </span>
    </div>
</form>


{% endblock %}


