<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    {% block title %}
    Log in
    {% endblock %}
  </title>

    <!-- Custom CSS -->
    <link href="{% static request.THEME_NAME|add:'css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <style>
        #loginbox {overflow: hidden !important;text-align: left;position: relative;border: 1px solid #484848;}
    </style>
    {% block extra_style %} {% endblock %}

</head>
<body>
<div id="loginbox">
<div class="control-group normal_text"><h3><img src="/static/img/logo.png" alt="Logo"/></h3></div>
{% block content %}

{% endblock %}
</div>


    <script src="{% static request.THEME_NAME|add:'assets/libs/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static request.THEME_NAME|add:'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static request.THEME_NAME|add:'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>

    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    $('#to-login').click(function(){

        $("#recoverform").hide();
        $("#loginform").fadeIn();
    });
    </script>


</body>

</html>
