{% extends request.THEME_NAME|add:'site_account_base.html' %}
{% block content_header %}Login{% endblock%}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel box-shadow">
            <div class="panel-body center-block">
                <div class="pages-header text-center">
                    <div class="pages-box-icon"><i class="zmdi zmdi-refresh-alt"></i></div>
                    <h4>Reset your password</h4>
                </div>
                <form role="form" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group input-group">
                            <div class="input-group-addon"><i class="zmdi zmdi-email"></i></div>
                            <input class="form-control" placeholder="Your E-mail" name="email" type="email" required
                                   autofocus>
                        </div>
            </div>

            <button class="btn btn-success btn-block" type="submit">Send my password</button>
            <br>
            <div class="text-center">
                <p class="mb-0"><a href="{% url 'login' %}" class="text-center">I already have a membership</a><br></p>
                <p class="mb-0"><a href="{% url 'signup' %}" class="text-center">Register a new membership</a><br></p>
            </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>


{% endblock %}



