{% extends request.THEME_NAME|add:'site_account_base.html' %}
{% load static %}
<!--{% with "shop/"|add:shop_name|add:"/base.html" as template %}-->
<!--{% include template %}-->
<!--{% endwith %}-->


{% block title %}Signup{% endblock%}
{% block extra_style %}
<style>
    #loginbox .control-group {
        padding: 10px 0;
    }

</style>
{% endblock %}

{% block content %}


<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
    <div class="auth-box bg-dark border-top border-secondary">
        <div id="loginform">
            <div class="text-center p-t-20 p-b-20" style="padding-bottom:20px;">
                <span class="db"><img src="{% static 'img/logo.png' %}" alt="logo"/></span>
            </div>
            <form method="post" class="form-horizontal m-t-20">
                {% csrf_token %}
                <div class="row p-b-30" style="padding-bottom:30px;">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><i
                                        class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="First Name"
                                   aria-label="Username" aria-describedby="basic-addon1" name="first_name">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><i
                                        class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="Last Name"
                                   aria-label="Username" aria-describedby="basic-addon1" name="last_name">
                        </div>

                        <!-- email -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white"><i
                                        class="ti-email"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="Email"
                                   aria-label="Username" aria-describedby="basic-addon1" name="email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white"><i
                                        class="ti-pencil"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="Password"
                                   aria-label="Password" aria-describedby="basic-addon1" name="password1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info text-white" id="basic-addon2"><i
                                        class="ti-pencil"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder=" Confirm Password"
                                   aria-label="Password" aria-describedby="basic-addon1"  name="password2">
                        </div>
                    </div>

                </div>


                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20" style="padding-top:20px;text-align:center;">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div style="text-align:center;color:#fff; height:50px;">
                            --OR--
                        </div>
                    </div>
                    <div class="col-12">
                        <div style="text-align:center;">
                            <a href="{% url 'login' %}" class="flip-link btn btn-primary" id="to-login">« Back to login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


