{% extends request.THEME_NAME|add:'site_account_base.html' %}

{% block content_header %}Password reset sent{% endblock%}

{% block content %}

<div class="login-box-body">
    <p class="login-box-msg">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    </p>
    <p class="login-box-msg">
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="{% url 'login' %}" class="text-center">Click here to login</a><br>
    </div>
</div>

{% endblock %}


