{% extends request.THEME_NAME|add:'site_account_base.html' %}

<!--{% with "shop/"|add:shop_name|add:"/base.html" as template %}-->
<!--{% include template %}-->
<!--{% endwith %}-->


{% block content_header %}Signup{% endblock%}

{% block content %}


<div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
    {{form.errors}}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="First name" name="first_name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Last name" name="last_name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Email" name="email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" name="password1">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Retype password" name="password2">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> I agree to the <a href="#">terms</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
    </div>
</div>


{% endblock %}


