<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load thumbnail %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} {% endblock %}</title>

    <link href="{% static request.THEME_NAME|add:'assets/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static request.THEME_NAME|add:'assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/ripple.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/hover.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/sweetalert.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/gallery/lightgallery.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/gallery/justifiedGallery.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/jquery-jvectormap.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/calendar/fullcalendar.min.css' %}">

    <link rel="stylesheet" href="{% static request.THEME_NAME|add:'assets/css/calendar/fullcalendar.print.css' %}"
          media="print">

    <link href="{% static request.THEME_NAME|add:'assets/css/deluxe-admin.css' %}" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_style_block %}

  {% endblock %}
</head>
<body>

<div id="wrapper">

    <header class="navbar navbar-white navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="zmdi zmdi-view-headline zmdi-hc-2x"></span>
            </button>
            <a class="navbar-brand" href="/" title="Deluxe - Material Admin Template"><i
                    class="zmdi zmdi-widgets"></i> {{request.site_name}}</a>
        </div>

        <nav>

            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="javascript:void(0);" class="toggle-sidebar hvr-underline-from-center"
                       title="Show/Hide Sidebar">
                        <i class="zmdi zmdi-menu"></i>
                    </a>
                </li>
                <li>
                    <a class="clear-storage hvr-underline-from-center" href="javascript:void(0);"
                       title="Clear Local Storage">
                        <i class="zmdi zmdi-delete"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="fullscreen hvr-underline-from-center" title="Full Screen">
                        <i class="zmdi zmdi-fullscreen"></i>
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown"
                       href="javascript:void(0);" title="Messages">
                        <i class="zmdi zmdi-email"></i>
                        <span class="him-counts">8</span>
                    </a>

                    <ul class="dropdown-menu dropdown-messages animated fadeIn">
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
<em>Yesterday</em>
</span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
<em>Yesterday</em>
</span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
<em>Yesterday</em>
</span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="javascript:void(0);">
                                <strong>Read All Messages</strong>
                            </a>
                        </li>
                    </ul>

                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown"
                       href="javascript:void(0);" title="Tasks">
                        <i class="zmdi zmdi-view-list-alt"></i>
                        <span class="him-counts">9</span>
                    </a>

                    <ul class="dropdown-menu dropdown-tasks animated fadeIn">
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="javascript:void(0);">
                                <strong>See All Tasks</strong>
                            </a>
                        </li>
                    </ul>

                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown"
                       href="javascript:void(0);" title="Notifications">
                        <i class="him-icon zmdi zmdi-notifications"></i>
                        <span class="him-counts">6</span>
                    </a>

                    <ul class="dropdown-menu dropdown-alerts animated fadeIn">
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="zmdi zmdi-comment-more"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="zmdi zmdi-twitter"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="zmdi zmdi-email"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="zmdi zmdi-storage"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">
                                <div>
                                    <i class="zmdi zmdi-upload"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="javascript:void(0);">
                                <strong>See All Alerts</strong>
                            </a>
                        </li>
                    </ul>

                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown"
                       href="javascript:void(0);" title="Search">
                        <span class="zmdi zmdi-search"></span>
                    </a>
                    <div class="dropdown-menu dropdown-search animated fadeIn">
                        <form method="post" accept-charset="utf-8">
                            <p><input class="form-control" type="text" placeholder="Search..."></p>
                            <p><input type="submit" value="Search" class="btn btn-primary btn-search"></p>
                        </form>
                    </div>
                </li>

            </ul>

        </nav>

    </header>

    <aside>

        <div class="navbar-default sidebar">
            <div class="sidebar-nav navbar-collapse">
                <div class="nav side-nav-white" id="side-menu">

                    <ul class="list-unstyled">
                        <li class="profile">
                            <a href="javascript:void(0);">
                                <div class="avatar">
                                    {% thumbnail request.user.get_avatar "56x56" as im %}
                                        <img src="{{ im.url }}" class="user-image rounded-circle" alt="User Image">
                                    {% endthumbnail %}
                                </div>
                                <div class="info">{{request.user.get_full_name}}<i class="zmdi zmdi-caret-down"></i></div>
                            </a>
                            <ul class="nav nav-level">
                                <li>
                                    <a href="./profile/index.html"><i class="zmdi zmdi-account"></i> View Profile</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="zmdi zmdi-settings"></i> Settings</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><i class="zmdi zmdi-sign-in"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="list-unstyled sidebar-left">
                        {% block side_menu %}
                        {% endblock %}
                    </ul>

                </div>
            </div>
        </div>

    </aside>
    <main>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">{% block content_title %}Dashboard{% endblock %}</h1>
                </div>
            </div>
            {% block content %}

            {% endblock %}
        </div>

    </main>
</div>


<footer id="footer">Copyright © 2016 <a href="http://ThemeLuxury.Com" target="_blank" title="ThemeLuxury.Com">ThemeLuxury.Com</a>
</footer>


<script src="{% static request.THEME_NAME|add:'assets/js/jquery-2.2.4.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/metisMenu.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/scripts/init.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/charts/chartjs/chart.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/charts/morris/morris.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/raphael/raphael.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/charts/flot/excanvas.min.js' %}"></script>
<script src="{% static request.THEME_NAME|add:'assets/js/charts/flot/jquery.flot.js' %}"></script>
<script src="{% static request.THEME_NAME|add:'assets/js/charts/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static request.THEME_NAME|add:'assets/js/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static request.THEME_NAME|add:'assets/js/charts/flot/jquery.flot.time.js' %}"></script>
<script src="{% static request.THEME_NAME|add:'assets/js/charts/flot.tooltip/jquery.flot.tooltip.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/lightgallery.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/jquery.justifiedGallery.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/lg-thumbnail.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/lg-fullscreen.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/lg-autoplay.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/lg-zoom.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/gallery/lg-video.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/waypoints.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/jquery.counterup.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/ripple.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/jquery.slimscroll.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/sweetalert.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/bootstrap-notify.min.js' %}"></script>

<script type="text/javascript"
        src="{% static request.THEME_NAME|add:'assets/js/maps/jvectormap/jquery.jvectormap.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/maps/jvectormap/gdp-data.js' %}"></script>

<script type="text/javascript"
        src="{% static request.THEME_NAME|add:'assets/js/maps/jvectormap/country/jquery-jvectormap-world-mill.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/calendar/moment-with-locales.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/calendar/fullcalendar.min.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/scripts/notifications.js' %}"></script>

<script src="{% static request.THEME_NAME|add:'assets/js/scripts/dashboard.js' %}"></script>
{% block extra_script_block %}

    {% endblock %}
</body>
</html>
